<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Burbank Auto</title>
</head>
<body>
    <div class="container-fluid bg-light">
        <div class="navbar navbar-light bg-dark text-light">
            <h4>Welcome {{ session.first_name }}!</h4>
            <h1>Burbank Auto</h1>
            <div>
                <a class="btn btn-info" href="/customers/{{customer.id}}" class="navbar-brand">Customer</a>
                <a class="btn btn-success" href="/users/home" class="navbar-brand">Home</a>
                <a class="btn btn-primary" href="/logout" class="navbar-brand">Logout</a>
            </div>
        </div>
        <h2 class="text-center">Edit {{customer.first_name}} {{customer.last_name}}'s Info</h2>
        <div class="container d-flex justify-content-around">
            <form action="/edit_customer" method="post">
                <input type="hidden" name="id" value="{{customer.id}}">
                <div class="d-flex">
                    <div class="d-block m-2">
                        <div>
                            <label>
                                First Name:
                                <input class="form-control" type="text" name="first_name" value="{{customer.first_name}}">
                            </label>
                        </div>
                        <div>
                            <label>
                                Last Name:
                                <input class="form-control" type="text" name="last_name" value="{{customer.last_name}}">
                            </label>
                        </div>
                        <div>
                            <label>
                                Phone Number:
                                <input class="form-control" type="text" name="phone_number" value="{{customer.phone_number}}">
                            </label>
                        </div>
                    </div>
                    <div class="d-block m-2">
                        <div>
                            <label>
                                Address:
                                <input class="form-control" type="text" name="address" value="{{customer.address}}">
                            </label>
                        </div>
                        <div>
                            <label>
                                Email:
                                <input class="form-control" type="text" name="email" value="{{customer.email}}">
                            </label>
                        </div>
                    </div>
                    <div class="p-4">
                        {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                {% for message in messages %}
                                    <p class="text-danger bg-light">{{ message }}</p>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                    </div>
                </div>
                <input type="submit" value="Edit Customer" class="btn btn-primary m-2">
            </form>
        </div>
    </div>
</body>
</html>