<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Burbank Auto</title>
</head>
<body>
    <div class="navbar navbar-light bg-light">
        <h1>Edit {{customer.first_name}} {{customer.last_name}}'s Info</h1>
        <div>
            <a href="/users/home" class="navbar-brand">Home</a>
            <a href="/logout" class="navbar-brand">Logout</a>
        </div>
    </div>
    <div class="container d-flex justify-content-around">
        <form action="/edit_customer" method="post" class="form-group bg-light text-info col-4 p-4">
            <input type="hidden" name="id" value="{{ customer.id }}">
            <label class="form-group">
                First Name:
                <input type="text" name="first_name" value="{{customer.first_name}}">
            </label>
            <label class="form-group">
                Last Name:
                <input type="text" name="last_name" value="{{customer.last_name}}">
            </label>
            <label class="form-group">
                Address:
                <input type="text" name="address" value="{{customer.address}}">
            </label>
            <label class="form-group">
                Email:
                <input type="text" name="email" value="{{customer.email}}">
            </label>
            <label class="form-group">
                Phone Number:
                <input type="text" name="phone_number" value="{{customer.phone_number}}">
            </label>
            <input type="submit" value="Edit Customer" class="btn btn-primary">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p class="text-danger bg-light">{{ message }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </form>
    </div>
</body>
</html>