<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Burbank Auto</title>
</head>
<body>
    <div class="container-fluid bg-light">
        <div class="navbar navbar-light bg-dark text-light">
            <h4>Welcome {{ session.first_name }}!</h4>
            <h1>Burbank Auto</h1>
            <div>
                <a class="btn btn-primary" href="/logout" class="navbar-brand">Logout</a>
            </div>
        </div>
        <div class="m-2">
            <h2 class="text-center text-primary">Customers</h2>
        </div>
        <div class="m-2">
            <table class="table table-sm table-hover table-striped">
                <thead class="thead-dark">
                    <th>Name</th>
                    <th>Phone Number</th>
                    <th>Actions</th>
                </thead>
                <tbody>
                    {% for customer in customers %}
                        <tr>
                            <td>{{ customer.first_name }} {{ customer.last_name }}</td>
                            <td>{{ customer.phone_number }}</td>
                            <td>
                                <a class="btn btn-outline-info btn-sm" href="/customers/{{ customer.id }}">View</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a href="/customers/new" class="btn btn-primary m-1">Add Customer</a>
        </div>
    </div>
</body>
</html>